<table align="center" cellpadding="0" cellspacing="0" width="700" style="min-width:700px;max-width:700px;margin:0 auto">
    <tbody
        style="font-family: 'Roboto', Helvetica, Arial, sans-serif; margin: 0px auto; font-size: 14px; overflow-x: hidden;">
        <tr>
            <td>
                <div class="website" style="max-width: 1280px; margin: auto;">
                    <div class="login_top"
                        style="padding-top: 30px; width: 100%; background-position: top left; background-repeat: no-repeat; background-size: contain; text-align: center;">
                        <div class="logo">
                            <a href="https://widdy.vn" target="_blank">
                                <img src="http://filestore.widdy.vn/widdy/2020/06/15/logo/c920e31a-422e-4551-a1a8-86bce61ee08a.png"
                                    alt="" style="width: 7%;">
                            </a>
                            <a href="https://apps.apple.com/vn/app/widdy/id1487773758" target="_blank">
                                <img src="http://filestore.widdy.vn/widdy/2020/06/16/logo/a01bfa75-acf8-4696-a72c-374f201645d0.png"
                                    alt=""
                                    style="width: 12%; margin-left: 50px; margin-right: 50px; background-color: #000; padding: 5px; border-radius: 5px;">
                            </a>
                            <a href="https://play.google.com/store/apps/details?id=com.vihat.widdy" target="_blank">
                                <img src="http://filestore.widdy.vn/widdy/2020/06/16/logo/5a02ceb5-b367-4bc6-afa6-b35c2191b962.png"
                                    alt=""
                                    style="width: 12%; background-color: #000; padding: 5px; border-radius: 5px;">
                            </a>
                        </div>
                        <div>
                            <div class="line"
                                style=" height: 2px;width: 100%; background-color: #ffa113; margin-top: 20px; margin-bottom: 10px;">
                            </div>
                            <div class="login_intro"
                                style="margin-top: 10px; font-size: 1.2rem; line-height: 1.2; color: #000; margin-bottom: 4%; padding: 0 80px; font-weight: bold;">
                                {{title}}
                            </div>
                        </div>
                        <div class="body"
                            style="width: 100%; background-color: #ffffff; padding-left: 15px; padding-right: 15px;">
                            <p style="margin-bottom: 5px;margin-top: 0; text-align: left; color: #494949;">Xin Chào
                                {{fullName}},</p>
                            <p style="margin-bottom: 0px;margin-top: 0; text-align: left; color: #494949;">{{content}}
                                {{#description}}
                            <p style="margin-bottom: 10px;margin-top: 0; text-align: left; color: #494949;">
                                {{description}} </p>
                            {{/description}}
                            <div>
                                <p
                                    style="margin-bottom: 5px;margin-top: 0; text-align: left; color: #ffa113; font-weight: 700;">
                                    THÔNG TIN MUA HÀNG</p>
                                <div class="line"
                                    style=" height: 1px;width: 95%; background-color: #ffa113; margin-top:5px; margin-bottom: 10px;">
                                </div>
                                <div class="info_user" style="display: flex; flex-direction: row; margin-bottom: 5px;">
                                    <p
                                        style="margin-bottom: 5px;margin-top: 0; text-align: left; color: #494949; font-weight: 700;  width: 25%;">
                                        Thông tin người mua</p>
                                    <div style=" width: 75%;">
                                        <p style="margin-bottom: 5px;margin-top: 0; text-align: left; color: #494949; ">
                                            {{nameUser}}</p>
                                        <p style="margin-bottom: 5px;margin-top: 0; text-align: left; color: #494949; ">
                                            {{phoneUser}}</p>
                                    </div>
                                </div>
                                <div class="info_user" style="display: flex; flex-direction: row; margin-bottom: 5px;">
                                    <p
                                        style="margin-bottom: 5px;margin-top: 0; text-align: left; color: #494949; font-weight: 700; width: 25%;">
                                        Địa chỉ giao hàng</p>
                                    <div style="width: 75%;">
                                        <p style="margin-bottom: 5px;margin-top: 0; text-align: left; color: #494949; ">
                                            {{fullName}}</p>
                                        <p style="margin-bottom: 5px;margin-top: 0; text-align: left; color: #494949; ">
                                            {{phone}}</p>
                                        <p style="margin-bottom: 5px;margin-top: 0; text-align: left; color: #494949; ">
                                            {{emailOrder}}</p>
                                        <p style="margin-bottom: 5px;margin-top: 0; text-align: left; color: #494949; ">
                                            {{address}}</p>
                                    </div>
                                </div>
                                <div class="info_user" style="display: flex; flex-direction: row; margin-bottom: 5px;">
                                    <p
                                        style="margin-bottom: 5px;margin-top: 0; text-align: left; color: #494949; font-weight: 700;  width: 25%;">
                                        Phương thức thanh toán</p>
                                    <p
                                        style="margin-bottom: 5px;margin-top: 0; text-align: left; color: #494949;   width: 75%;">
                                        {{methodPayment}}</p>
                                </div>
                                <div class="info_user" style="display: flex; flex-direction: row; margin-bottom: 5px;">
                                    <p
                                        style="margin-bottom: 5px;margin-top: 0; text-align: left; color: #494949; font-weight: 700;  width: 25%;">
                                        Phí vận chuyển</p>
                                    <p
                                        style="margin-bottom: 5px;margin-top: 0; text-align: left; color: #494949;   width: 75%;">
                                        {{shippingFee}} đ</p>
                                </div>
                            </div>
                            <!-- chi tiết đơn hàng -->
                            <div>
                                <p
                                    style="margin-bottom: 5px;margin-top: 0; text-align: left; color: #ffa113; font-weight: 700;">
                                    CHI TIẾT ĐƠN HÀNG</p>
                                <div class="line"
                                    style=" height: 1px;width: 95%; background-color: #ffa113; margin-top:5px; margin-bottom: 15px;">
                                </div>
                                <div class="info_user"
                                    style="display: flex; flex-direction: row; background-color: #ffa113; width: 95%;">
                                    <div
                                        style="margin-bottom: 5px;margin-top: 5px; margin-left: 10px; text-align: left; color: #fff; width: 50%; font-weight: 400;">
                                        Sản phẩm</div>
                                    <div
                                        style="margin-bottom: 5px;margin-top: 5px; text-align: center; color: #fff; width: 18%; font-weight: 400;">
                                        Đơn giá</div>
                                    <div
                                        style="margin-bottom: 5px;margin-top: 5px; text-align:center;color: #fff; width: 10%; font-weight: 400;">
                                        Số lượng</div>
                                    <div
                                        style="margin-bottom: 5px;margin-top: 5px; text-align: right; margin-right: 10px;  color: #fff; width: 22%; font-weight: 400;">
                                        Tạm tính</div>
                                </div>
                                {{#shops}}
                                <div class="info_shop"
                                    style="display: flex; flex-direction: row; margin-bottom: 5px; background-color: #f7f8fa; width: 95%;">
                                    <img src={{avatar}} alt=""
                                        style="width: 30px; height: 30px; background-color: #494949; border-radius: 50%; padding: 1px; margin: 5px; margin-left: 15px;">
                                    <p style="margin: 10px; color: #494949;font-weight: bold;">
                                        {{shopName}}</p>
                                </div>
                                <div>
                                    {{#products}}
                                    <div class="info_product"
                                        style="display: flex; flex-direction: row; margin-bottom: 5px; width: 95%;">
                                        <div
                                            style="margin-bottom: 5px;margin-top: 5px; margin-left: 15px; text-align: left; color: #494949; width: 50%;justify-content: center;">
                                            <p
                                                style="margin-bottom: 5px;margin-top: 5px; text-align:left;color: #494949;width: 100%; font-weight: 400;justify-content: center;  align-items: center;">
                                                {{name}}</p>
                                            {{#isVariant}}
                                            <p
                                                style="margin-bottom: 5px;margin-top: 5px; text-align:left;color: #4949497f; width: 100%; font-weight: 400;justify-content: center;  align-items: center;">
                                                Phân loại: {{variant}}</p>
                                            {{/isVariant}}
                                        </div>
                                        <div
                                            style="margin-bottom: 5px;margin-top: 5px; text-align: center; color: #494949; width: 18%; font-weight: 400;justify-content: center; align-items: center;">
                                            {{price}} đ</div>
                                        <div
                                            style="margin-bottom: 5px;margin-top: 5px; text-align:center;color: #494949; width: 10%; font-weight: 400;justify-content: center;  align-items: center;">
                                            {{quantity}}</div>
                                        <div
                                            style="margin-bottom: 5px;margin-top: 5px; text-align: right; margin-right: 10px;  color: #494949; width: 22%; font-weight: 400;justify-content: center; align-items: center;">
                                            {{total_price}} đ</div>
                                    </div>
                                    {{/products}}
                                </div>
                                {{/shops}}
                                <div class="line"
                                    style=" height: 1px;width: 95%; background-color: #e6e6e6; margin-top:10px; margin-bottom: 15px;">
                                </div>
                                <div style="width: 95%;">
                                    <div class="info_user"
                                        style="display: flex; flex-direction: row; margin-bottom: 5px;">
                                        <p
                                            style="margin-bottom: 5px;margin-top: 0; text-align: right; color: #494949; width: 75%;">
                                            Tổng tiền hàng</p>
                                        <p
                                            style="margin-bottom: 5px;margin-top: 0; text-align: right; color: #494949;  width: 25%; margin-right: 10px;">
                                            {{totalPriceGoods}} đ</p>
                                    </div>
                                    <div class="info_user"
                                        style="display: flex; flex-direction: row; margin-bottom: 5px;">
                                        <p
                                            style="margin-bottom: 5px;margin-top: 0; text-align: right; color: #494949;width: 75%;">
                                            Phí vận chuyển</p>
                                        <p
                                            style="margin-bottom: 5px;margin-top: 0; text-align: right; color: #494949; width: 25%; margin-right: 10px; ">
                                            {{shippingFee}} đ</p>
                                    </div>
                                    {{#totalSupportShipping}}
                                    <div class="info_user"
                                        style="display: flex; flex-direction: row; margin-bottom: 5px;">
                                        <p
                                            style="margin-bottom: 5px;margin-top: 0; text-align: right; color: #494949; width: 75%;">
                                            Shop hỗ trợ phí vận chuyển</p>
                                        <p
                                            style="margin-bottom: 5px;margin-top: 0; text-align: right; color: #494949;  width: 25%; margin-right: 10px;">
                                            {{totalSupportShipping}} đ</p>
                                    </div>
                                    {{/totalSupportShipping}}
                                    {{#totalPricePromotionShop}}
                                    <div class="info_user"
                                        style="display: flex; flex-direction: row; margin-bottom: 5px;">
                                        <p
                                            style="margin-bottom: 5px;margin-top: 0; text-align: right; color: #494949; width: 75%;">
                                            Voucher shop</p>
                                        <p
                                            style="margin-bottom: 5px;margin-top: 0; text-align: right; color: #494949;  width: 25%; margin-right: 10px;">
                                            {{totalPricePromotionShop}} đ</p>
                                    </div>
                                    {{/totalPricePromotionShop}}
                                    {{#discount}}
                                    <div class="info_user"
                                        style="display: flex; flex-direction: row; margin-bottom: 5px;">
                                        <p
                                            style="margin-bottom: 5px;margin-top: 0; text-align: right; color: #494949; width: 75%;">
                                            Voucher Widdy</p>
                                        <p
                                            style="margin-bottom: 5px;margin-top: 0; text-align: right; color: #494949;  width: 25%; margin-right: 10px;">
                                            {{discount}} đ</p>
                                    </div>
                                    {{/discount}}


                                    <div class="info_user"
                                        style="display: flex; flex-direction: row; margin-bottom: 5px;">
                                        <p
                                            style="margin-bottom: 5px;margin-top: 0; text-align: right; color: #ffa113; font-weight: 700;width: 75% ">
                                            Tổng thanh toán</p>
                                        <p
                                            style="margin-bottom: 5px;margin-top: 0; text-align: right; color: #ffa113;font-weight: 700; width: 25%;margin-right: 10px; ">
                                            {{totalPrice}} đ</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="login_footer" style=" margin-left:15px;">
                        <p>
                            Bạn cần được hỗ trợ ngay? Chỉ cần email {{mailSupport}}, hoặc gọi số điện thoại
                            {{phoneSupport}} (8-21h cả T7,CN).
                        </p>
                        <div
                            style="margin-top: 20px; align-items: flex-end; justify-content: flex-end; width: 100%; text-align: right;">
                            <a href="https://widdy.vn" target="_blank">
                                <img src="http://filestore.widdy.vn/widdy/2020/06/15/logo/c920e31a-422e-4551-a1a8-86bce61ee08a.png"
                                    alt="" style="width: 5%;">
                            </a>

                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>

</table>