<table align="center" cellpadding="0" cellspacing="0" width="700" style="min-width:700px;max-width:700px;margin:0 auto">
    <tbody style="font-family: 'Roboto', Helvetica, Arial, sans-serif; margin: 0px auto; font-size: 14px; overflow-x: hidden;">
    <tr>
        <td>
            <div class="website" style="max-width: 1280px; margin: auto; background: #f5f6fa;">
                <div class="login_top"
                     style="padding-top: 30px; width: 100%; background-image: url(https://minio.infra.omicrm.com/crm/Path_65-min.png); background-position: top left; background-repeat: no-repeat; background-size: contain; text-align: center; margin-bottom: 10%;">
                    <div class="logo"><a href="#"><img src="https://minio.infra.omicrm.com/crm/logo-6-min.png" alt=""
                                                       style="width: 5%;"></a></div>
                    <div class="login_intro"
                         style="margin-top: 10px; font-size: 1.2rem; line-height: 1.2; color: #ffffff; margin-bottom: 4%; padding: 0 80px;">
                        Hi {{fullName}},<br>It looks like you have requested a password change
                    </div>
                    <div class="login_box"
                         style="width: 70%; box-shadow: 0 2px 8px 0 rgba(112, 112, 112, 0.08); background-color: #ffffff; text-align: center; margin: auto; border-bottom: 1px solid #f5f6fa; border-radius: 12px;">
                        <img src="https://minio.infra.omicrm.com/omi-resource/yeucauthaydoimatkhau-min.png"
                             style="width: 50%;">
                        <div class="login_text"
                             style="font-size: 0.875rem; text-align: center; color: #494949; padding: 0 48px; margin: auto;">
                            <p style="margin-bottom: 0;margin-top: 0;">We want to verify that you have requested to
                                change your password</p>

                            <p style="margin-bottom: 0;"><b>If not, please ignore this ddd.email.</b></p>

                            <a href="{{urlTenant}}" target="_blank">
                                <button class="btn_login"
                                        style="height: 41px; color: white; margin-bottom: 10%; font-size: 0.875rem; padding: 0 24px; margin-top: 10%; border-radius: 8px; background-image: linear-gradient(to bottom, #01b8fa, #267aff); box-shadow: 0 4px 16px 0 rgba(38, 122, 255, 0.5); -webkit-box-shadow: 0px 4px 16px 0px rgba(38, 122, 255, 0.5); -moz-box-shadow: 0px 4px 16px 0px rgba(38, 122, 255, 0.5); border: none;">
                                    YES, I WANT TO CHANGE THE PASSWORD
                                </button>
                            </a>
                            <hr>
                            <div class="login_textend" style="text-align: left; margin-bottom: 10%;">
                                <p style="margin-bottom: 0; font-size: 0.875rem; color: #494949;">
                                    {{mailHaveAGoodDay}}</p>
                                <br>
                                <p style="margin-bottom: 0; font-size: 0.875rem; color: #494949;">
                                    {{mailDeveloperTeam}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="login_footer"
                     style="text-align: center; min-height: 300px; background: url(https://minio.infra.omicrm.com/crm/path_footer-min.png); background-repeat: no-repeat; background-size: 120%; background-position: center bottom -30px;">
                    <div class="login_info" style="text-align: center; font-size: 0.875rem; color: #494949;">
                        <p style="margin-bottom: 0;">{{mailProductName}}</p>
                        <p style="margin-bottom: 0;">{{mailProductWebsite}} | {{mailProductAuthor}} </p>
                        <p style="margin-bottom: 0;">{{mailProductAuthorPhone}}</p>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    </tbody>

</table>